
WITH CTE(ACCOUNTID, FIRSTSTARTDATE, SIGNED_DATE, TIMETAKEN, SALESPERSON) AS
(SELECT H.ACCOUNTID, MIN(STARTDATE) AS FIRSTSTARTDATE, SIGNED_DATE, DATEDIFF(MONTH, MIN(STARTDATE), SIGNED_DATE) AS TIMETAKEN, A.SALESPERSON
  FROM [sysdba].[HISTORY] H
  INNER JOIN [sysdba].ACCOUNT_FSI_CONTRACT A
  ON H.ACCOUNTID = A.ACCOUNTID
  --WHERE CATEGORY IN ('Call')
  GROUP BY H.ACCOUNTID, SIGNED_DATE, SALESPERSON
  HAVING SIGNED_DATE IS NOT NULL AND SIGNED_DATE < GETDATE())
  SELECT SALESPERSON, AVG(TIMETAKEN) AS AVG_TIMETAKEN_TO_SIGN_IN_MONTHS, COUNT(*) AS NO_OF_ACCOUNTS FROM CTE
  GROUP BY SALESPERSON
  HAVING SALESPERSON IS NOT NULL AND AVG(TIMETAKEN)>0